:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}


nav{
  display: flex;
  justify-content: end;
}

nav .menu-icon-button {
  background: none;
  border: none;
  
}

nav .menu-icon-button:hover{
  cursor:pointer;

}